<div class="">
  <div class="">Hello <b><%= first_name+ ' '+ last_name %></b>,</div>
  <div class="">You're subscription request has been processed successfully!</div>
  <div class="">
    <p>Thank You,</p>
  </div>
  <div class=""><%= project_name %></div>
</div>