<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">
        <p>Your password is reset successfully.</p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= project_name %></div>
</div>