<div class="">
    <div class=""><p> Hi, <%=user_name %>,</p></div>
    <div class=""><p>Your reserve request has been <%=status%> by <%=provider_name%></p></div>


    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>