<div class="">
    <div class=""><b>Name:- </b> <%= name %>,</div>
    <div class=""><b>Email:- </b> <%= email %>,</div>
    <div class=""><b>Message:- </b> <%= message %>,</div>


    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>