<div class="">
    <div class="">Hello <%= User %>,</div>
    <div class=""><p><%= message %></p></div>
    <div class=""><p>click this <a href="<%=frontend_url%>" style="color: blue;">link</a> to login to sysaving</p></div>
    

    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>