<!DOCTYPE html>
<html lang="en">
<head>
       
</head>
<body>
    <div class=>
        <div class="wrapper-1">
           <div class="wrapper-2">
            <h1>Thank you!</h1>
             <p>for contacting us, we will reply you shortly!!!</p> 
           </div>
       </div>

       <div class=""><p>Thank You,</p></div>
       <div class=""><%= project_name %></div>
</body>
</html>