<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">
        <p>Here is Your Email Verification You Have Requested.</p>
    </div>
    <div class="">Here's your verification code: <span style="color: crimson"><%= verification_code %></span></div>
    <br>
    <div class="">
        <p>Thank You,</p>
    </div>
</div>