<div class="">
    <div class=""><p> Hi, <%= name %>,</p></div>
    <div class=""><p>New reserve request is raised.please check on your account</p></div>


    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>