<div class="">
    <div class=""><b>Full Name</b> <%= fullName %>,</div>
    <div class=""><b>Email</b> <%= email %>,</div>
    <div class=""><b>Feedback</b> <%= feedback %>,</div>


    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>