<div class="">
    <div class="">Hello <%= full_name %>,</div>
    <div class="">Please click on below link to reset your password
        <p>
            <strong><a href="<%= resetLink %>">Click Here</a></strong>
        </p>
        <p>
            <strong>Link is expire in 10 minute</strong>
        </p>
    </div>
    <!-- <div class="">
        <p>Thank You,</p>
    </div> -->
    <div class="">Regards, <br>
        <%= project_name %> Support Team
    </div>
</div>