<div class="">
    <div class="">Hello <%= name?name:'' %>,</div>
    <div class=""><p>Thanks for joining <%= project_name %>, we are excited to have you on board!</p></div><br>
    <div class=""><p><small>Please do use your social account for accessing your account.</small></p></div>
    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>