<div class="">
        <p style="color: rgb(65, 18, 175); white-space: pre-line;">
            <strong><%= message %></strong>
        </p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
</div>