<div class="">
    <div class="">Hello <%= name %>,</div>
    <div class=""><p>Your password has been changed by <%= project_name %></p></div>
    <div class=""><p>Please consider the following as your password : <strong><%= password %></strong></p></div>
    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>