<div class="">
    <div class="">Hey <b><%= fullName %></b>,</div>
    <div class="">Your Feedback Successfully Submitted. Admin Will Get Back To You Soon.</div>
    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>